.card {
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 160px;
    border-radius: 20px;
    font-family: IBM Plex Mono;
    background-color: #292F36;
    border-color: #12F7D6;
}

.cardHeader {
    background-color: transparent;
    color: #12F7D6;
    font-size: 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.moreDetailsLink {
    font-family: IBM Plex Mono;
    color: #98FAEC;
    text-decoration: none;
    padding-bottom: 30px;
}

.moreDetailsLink:hover {
    color: #25655c;
}

.ownerClassLink {
    font-family: IBM Plex Mono;
    color: #98FAEC;
    text-decoration: none;
}

.ownerClassLink:hover {
    color: #25655c;
}

.eachCard {
    display: block;
    flex-wrap: wrap;
}

.descriptionCard {
    margin-top: 5px;
    padding-bottom: 10px;
}

.custom-card-text {
    font-size: 15px;
}