.allHomePage {
    padding: 30px;
    padding-top: 50px;
    height: 100vh;
    margin-top: 25px;
    margin-bottom: 1800px;
}

.allHomePage h1,
.allHomePage h2,
.allHomePage h3,
.allHomePage h4 {
    color: #12F7D6;

}

.allHomePage p {
    color: white;
}

.languagesHomePage {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;

}

.htmlLanguage {
    display: flex;
    position: absolute;
    padding-left: 200px;
    margin-top: 100px;
}

.htmlLanguageIcon {
    display: flex;
    position: absolute;
    padding-left: 183px;
    height: 100px;
    margin-top: -25px;
}

.cssLanguage {
    display: flex;
    position: absolute;
    padding-left: 470px;
    height: 25px;
    margin-top: 100px;
}

.cssLanguageIcon {
    display: flex;
    position: absolute;
    padding-left: 450px;
    height: 100px;
    margin-top: -25px;
}

.jsLanguage {
    display: flex;
    position: absolute;
    padding-left: 750px;
    height: 25px;
    margin-top: 100px;
}

.jsLanguageIcon {
    display: flex;
    position: absolute;
    padding-left: 720px;
    height: 100px;
    margin-top: -25px;
}

.reactLanguage {
    display: flex;
    position: absolute;
    padding-left: 1000px;
    height: 25px;
    margin-top: 100px;
}

.reactLanguageIcon {
    display: flex;
    position: absolute;
    padding-left: 1000px;
    height: 100px;
    margin-top: -25px;
}

.colLanguages {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleHomePage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    padding: 30px;
    padding-bottom: 80px;
    text-align: center;
}

.teacherTextHomePage {
    font-size: 70px;
    color: #12F7D6;
}

.imgTeacherHomePage {
    text-align: center;
    border-radius: 300px;
}

.containerHomePage {
    justify-content: space-around;
}

.searchBarHomePage {
    padding: 15px;
    padding-top: 30px;
}

.demandHomePage {
    text-align: center;
    font-size: 45px;
    color: #12F7D6;
}


.newFormOfLearning {
    font-size: 60px;
    padding: 50px;
    margin-top: 70px;
}

.rowSearch {
    padding: 50px;
    margin-bottom: 20px;
}

.rowChoose {
    padding: 50px;
    margin-bottom: 20px;
}

.tickImg {
    display: flex;
    position: absolute;
    height: 125px;
    padding-left: 1100px;
    margin-top: 20px;

}

.bookImg {
    display: flex;
    position: absolute;
    padding-left: 485px;
    margin-top: -200px;
    height: 120px;
}

.thumbUp {
    display: flex;
    position: absolute;
    height: 125px;
    padding-left: 950px;
    margin-top: 20px;
}

.thumbDown {
    display: flex;
    position: absolute;
    height: 125px;
    padding-left: 1200px;
    margin-top: 20px;
}

.rowLearn {
    padding: 50px;
    margin-bottom: 20px;
}

.rowRate {
    padding: 50px;
    margin-bottom: 20px;
}

.rowSearch h4 {
    font-size: 70px;
}

.rowChoose h4 {
    font-size: 70px;
}

.rowLearn h4 {
    font-size: 70px;
}

.rowRate h4 {
    font-size: 70px;
}

.rowSearch p {
    font-size: 25px;
}

.rowChoose p {
    font-size: 25px;
}

.rowLearn p {
    font-size: 25px;
}

.rowRate p {
    font-size: 25px;
}

.mouse1 {
    display: flex;
    height: 120px;
    position: absolute;
    padding-left: 450px;
}

.mouse2 {
    display: flex;
    position: absolute;
    height: 20px;
    padding-left: 488px;
    margin-top: 20px;
}

.arrowMouse {
    display: flex;
    position: absolute;
    padding-left: 485px;
    margin-top: 140px;
    height: 120px;
}