.allHomePage {
    padding: 30px;
    padding-top: 50px;
    height: 100vh;
    margin-top: 25px;
    margin-bottom: 1800px;
}

.allHomePage h1,
.allHomePage h2,
.allHomePage h3,
.allHomePage h4 {
    color: #12F7D6;

}

.allHomePage p {
    color: white;
}

.titleHomePage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    padding: 30px;
    padding-bottom: 80px;
    text-align: center;
}

.teacherTextHomePage {
    font-size: 70px;
    color: #12F7D6;
}

.imgTeacherHomePage {
    text-align: center;
    border-radius: 300px;
}

.containerHomePage {
    justify-content: space-around;
}

.searchBarHomePage {
    padding: 15px;
    padding-top: 30px;
}

.demandHomePage {
    text-align: center;
    font-size: 45px;
    color: #12F7D6;
}

.languagesHomePage {
    padding: 30px;
    padding-top: 30px;
}

.newFormOfLearning {
    font-size: 60px;
    padding: 50px;
    margin-top: 70px;
}

.rowSearch {
    padding: 50px;
    margin-bottom: 20px;
}

.rowChoose {
    padding: 50px;
    margin-bottom: 20px;
}

.rowLearn {
    padding: 50px;
    margin-bottom: 20px;
}

.rowRate {
    padding: 50px;
    margin-bottom: 20px;
}

.rowSearch h4 {
    font-size: 70px;
}

.rowChoose h4 {
    font-size: 70px;
}

.rowLearn h4 {
    font-size: 70px;
}

.rowRate h4 {
    font-size: 70px;
}

.rowSearch p {
    font-size: 25px;
}

.rowChoose p {
    font-size: 25px;
}

.rowLearn p {
    font-size: 25px;
}

.rowRate p {
    font-size: 25px;
}